<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    <typeAliases>
<!--        <typeAlias type="com.qf.pojo.Emp" alias="Emp"/>-->
        <package name="com.qf.pojo"/>
        <package name="com.qf.vo"/>
        <package name="com.qf.dto"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
<!--            TODO 此处有未完成的内容-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="com/qf/mapper/EmpMapper.xml"/>-->
<!--        <mapper resource="com/qf/mapper/PassengerMapper.xml"/>-->
<!--        <mapper resource="com/qf/mapper/DeptMapper.xml"/>-->
        <package name="com.qf.mapper"/>
    </mappers>
</configuration>