<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="emp">-->
<!--    <select id="findAll" resultType="com.qf.pojo.Emp">-->
<!--        select * from emp;-->
<!--    </select>-->
<!--</mapper>-->
<mapper namespace="com.qf.mapper.EmpMapper">
<!--    sql片段-->
    <sql id="selector">
        select * from emp
    </sql>
<!--查询的sql语句    -->
    <select id="findAll" parameterType="java.lang.String" resultType="com.qf.pojo.Emp">
        select * from emp where name = #{name}
    </select>

<!--    添加的sql语句-->
    <insert id="insert" parameterType="com.qf.pojo.Emp">
        insert into emp (name,age) values (#{name},#{age})
        <selectKey resultType="Integer" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

<!--    删除sql语句-->
    <delete id="delete" >
        delete from emp where emp_id=#{id}
    </delete>

<!--    修改sql语句-->
    <update id="update">
        update emp set name =#{name},age=#{age} where emp_id=#{id}
    </update>


<!--    MybatisQuery查询-->
<!--    findByQuery-->
    <resultMap id="findByQuery1Map" type="Emp">
        <id column="emp_id" property="id"></id>
<!--        <result column="d_id" property="dId"></result>-->
    </resultMap>
    <select id="findByQuery1" resultMap="findByQuery1Map">
        select * from emp where name like '%${arg0}%' and age = #{arg1}
    </select>

    <select id="findByQuery2" resultType="Emp">
        select * from emp where name like '%${name}%' and age = #{age}
    </select>

    
    
    
    
<!--List<Emp> findDynSql(@Param("name") String name,@Param("age") int age, @Param("salary") int salary);-->
    <select id="findDynSql" resultType="Emp" >
        <include refid="selector"></include>
--         where 1=1
            <where>
            <if test="name!=null and name !=''">
                and name like '%${name}%'
            </if>
            <if test="age!=null">
                and age > #{age}
            </if>
            <if test="salary!=null">
                and salary > #{salary}
            </if>
            </where>
    </select>
    
</mapper>